<%- include ../partials/head-start %>
    <link rel="stylesheet" href="assets/css/index.css">
    </head>
    <body>

        <header>
            <%- include ../partials/hero %>
            <%- include ../partials/nav %>
        </header>

        <%- include ../partials/footer %>

    </body>
</html>