<footer>
    <section class="upper-segment">
        <div class="constrictor">
            <section>
                <img class="logo" src="/assets/img/logo_w_tagline.svg">

                <article>
                    <h3>Location</h3>
                    <address>
                        <p>
                            PO Box 16122 Collins Street West Victoria 8007 Australia
                        </p>
                    </address>
                </article>

                <article>
                    <h3>Opening Hours</h3>
                    <p>
                        MON-FRI 9 AM TO 10 PM
                    </p>
                </article>

                <article>
                    <h3>Location</h3>
                    <p>
                        MON-FRI 9 AM TO 10 PM
                    </p>
                </article>
            </section>
            <section>
                <h3>Recent Posts</h3>

                <article class="post">
                    <img src="">
                </article>
            </section>
            <section>
                <h3>Recent Posts</h3>

            </section>
        </div>
    </section>
    <section class="lower-segment">
        <div class="constrictor">
            <p>Stay Connected With Us Night Club</p>

            <section class="social-media">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.goggle.com/"><i class="fab fa-google-plus-g"></i></a>
                <a href="https://www.skype.com/"><i class="fab fa-skype"></i></a>
                <a href="https://www.blogger.com/"><i class="fab fa-blogger-b"></i></a>
            </section>

            <p>CopyRight @ 2018 NightClub psd template all right</p>
        </div>
    </section>
</footer>