<section class="hero">
    <img src="/assets/img/header_bg_2.jpg">

    <section class="logo-wrapper">
        <img class="logo" src="/assets/img/logo.svg">
        <p class="good-time">Have a good time</p>
        <img class="bottom-bar" src="/assets/img/bottom_line.png">
    </section>
</section>