<section class="hero">
    <img src="">

    <section class="logo-wrapper">
        <img class="logo" src="/assets/img/logo.svg">
        <p class="good-time">Have a good time</p>
        <img class="bottom-bar" src="/assets/img/bottom_line.png">
    </section>
</section>

<script src="/assets/js/hero.js"></script>