<nav>
    <div class="constrictor">
        <img src="/assets/img/logo_w_tagline.svg">

        <label for="mobile-nav-checkbox" class="mobile-nav-label"></label>
        <input type="checkbox"id="mobile-nav-checkbox">
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/book">Book Table</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</nav>

<script src="/assets/js/nav.js"></script>