@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap";
@import "footer";

body {
    background-color: #030303;
    background-image: url("/assets/img/main_bg.png");
    font-family: "Ubuntu", sans-serif;
    margin: 0;

    input, button {
        font-family: "Ubuntu", sans-serif;
        line-height: 25px;
        font-size: 15px;
        color: #e0e0e0;
    }

    h1 {
        letter-spacing: 0.075em;
        font-weight: 700;
        line-height: 1.1;
        color: #ffffff;
        margin: 0;
    }
    
    h2 {
        line-height: 1.1;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
    }

    p, a {
        line-height: 25px;
        font-size: 15px;
        color: #e0e0e0;
        margin: 0;
    }
}