@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap";
@import "footer";
@import "loader";

body {
    background-color: #030303;
    background-image: url("/assets/img/pattern_bg.jpg");
    font-family: "Ubuntu", sans-serif;
    margin: 0;

    address {
        font-style: normal;
    }

    input, button, textarea {
        font-family: "Ubuntu", sans-serif;
        line-height: 25px;
        font-size: 15px;
        color: #e0e0e0;
        box-sizing: border-box;
        outline: none;
    }

    button {
        border: 0;
        background-color: transparent;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 10px 35px;
        color: #fff;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }

    input[type="text"], textarea {
        border: 1px solid rgba(#fff, 0.37);
        padding: 20px 20px;
        background-color: transparent;

        &::placeholder {
            color: rgba(#fff, 0.5);
        }
    }

    h1 {
        letter-spacing: 0.075em;
        font-weight: 700;
        line-height: 1.1;
        color: #ffffff;
        margin: 0;
    }
    
    h2 {
        line-height: 1.1;
        font-weight: 500;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
    }

    p, a {
        line-height: 25px;
        font-size: 15px;
        color: #e0e0e0;
        margin: 0;
    }
}