@import "constrictor";
@import "fontawesome.min.css";
@import "brands.min.css";

footer {
    background-color: #030303;
    width: 100%;

    .upper-segment {
        position: relative;
        padding: 80px 20px;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("/assets/img/footerbg.jpg");
            opacity: 0.1;
        }

        .constrictor {
            display: flex;
            position: relative;
            z-index: 10;
        }

        section {
            box-sizing: border-box;
            padding-right: 20px;
            width: 100%;

            .logo {
                margin-bottom: 2rem;
            }

            address {
                font-style: normal;
            }

            h3 {
                color: #ff2a70;
                font-weight: 400;
                margin: 0 0 0.5rem 0;
                text-transform: uppercase;
            }

            &:nth-child(1) {
                h3 {
                    margin: 1.5rem 0 0.5rem 0;
                }
            }
        }
    }

    .lower-segment {
        .constrictor {
            display: flex;
            align-items: center;
            padding: 40px;

            & > section {
                width: 100%;
                padding-right: 25px;
            }
        }

        .social-media {
            display: flex;
            color: #fff;

            a {
                display: inline-block;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                width: 20px;
                height: 20px;
                border: 2px solid #fff;
                margin: 0 12px;

                &:first-child {
                    margin-left: 0;
                }
                
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .post {
        display: flex;
        padding: 25px;
        border-bottom: 1px solid rgba(#fff, 0.1);

        .post-image-wrapper {
            width: 90px;
            height: 85px;
            object-fit: cover;
            flex-shrink: 0;
            transform: translateX(-25px);

            .post-image {
                width: 100%;
                height: 100%;
            }
        }

        .post-icon {
            color: #ff2a70;
            transform: translate(-25px, 7px);
            flex-shrink: 0;
        }

        .post-date {
            color: #ff2a70;
        }
    }
}