.hero {
    height: 740px;
    width: 100%;
    overflow: hidden;
    position: relative;

    & > img {
        width: 100%;
        vertical-align: bottom;
        position: absolute;
        z-index: 5;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        perspective: 600px;

        .logo, .bottom-bar {
            width: 40em;
        }

        .logo {
            margin-bottom: 10px;
            animation: logo-fold 1.25s ease-in-out;
        }

        .bottom-bar {
            height: 5em;
        }

        .good-time, .bottom-bar {
            opacity: 0;
            animation: subtitle-appear 0.5s ease-in-out 1s forwards;
        }
    }

    .good-time {
        line-height: 1.1;
        font-weight: 100;
        text-transform: uppercase;
        color: #fff;
        font-size: 21px;
        letter-spacing: 22px;
    }
}


@keyframes logo-fold {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    } to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes subtitle-appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}