.hero {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 640px) {
        height: 740px;
    }

    & > img {
        width: 100%;
        vertical-align: bottom;
        position: absolute;
        z-index: 5;
        height: 100%;
        object-fit: cover;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        perspective: 600px;

        .logo, .bottom-bar {
            width: 40em;
        }

        .logo {
            margin-bottom: 10px;
            width: 75%;

            @media screen and (min-width: 800px) {
                width: auto;
            }
        }

        .bottom-bar {
            height: 5em;
            width: 70%;

            @media screen and (min-width: 800px) {
                width: auto;
            }
        }

        .good-time, .bottom-bar {
            opacity: 0;
        }
    }

    &.animate {
        .logo {
            animation: logo-fold 1.5s ease-in-out;
        }

        .good-time, .bottom-bar {
            animation: subtitle-appear 0.5s ease-in-out 1s forwards;
        }
    }

    .good-time {
        line-height: 1.1;
        font-weight: 100;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 5px;
        font-size: 14px;

        @media screen and (min-width: 640px) {
            letter-spacing: 22px;
            font-size: 21px;
        }
    }
}


@keyframes logo-fold {
    from {
        opacity: 0;
        transform: rotateX(90deg);
    } to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes subtitle-appear {
    from {
        opacity: 0;
        transform: translateY(-20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}