@import "constrictor";
@import "fontawesome.min.css";
@import "solid.min.css";

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid #ff2a70;
    border-top: 1px solid #ff2a70;
    background-color: #000; 
    
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border-color: #ff2a70;
        border-left: #0000;
        border-top: #0000;
        border-width: 20px;
        border-style: solid;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-color: #ff2a70;
        border-right: #0000;
        border-bottom: #0000;
        border-width: 20px;
        border-style: solid;
    }

    .constrictor {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: none;

        @media screen and (min-width: 940px) {
            display: flex;
        }

        li {
            a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                padding: 10px 15px;

                &:hover, &.active {
                    color: #ff2a70;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        background: linear-gradient(to right, #0000, #0000, rgba(#ff2a70, 0.77), #0000, #0000);
                    }

                    &[href="/gallery"], &[href="/blog"] {
                        &::after {
                            border-left-color: #ff2a70;
                            border-top-color: #ff2a70;
                        }
                    }
                }

                &[href="/gallery"], &[href="/blog"] {
                    &::after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-width: 3px;
                        border-style: solid;
                        border-color: #f0f0f0;
                        border-right-color: transparent;
                        border-bottom-color: transparent;
                        position: absolute;
                        transform: rotate(225deg) translate(-10px, 0px);
                        transform-origin: center;
                    }
                }
            }
        }
    }

    .mobile-nav-label {
        height: 20px;
        width: 40px;
        position: relative;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        box-sizing: border-box;
        
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 100%;
            transform: translateY(-50%);
            background-color: #fff;
        }

        @media screen and (min-width: 940px) {
            display: none;
        }
    }

    #mobile-nav-checkbox {
        display: none;

        @media screen and (max-width: 940px) {
            & + ul {
                background-color: #030303;
                display: block;
                position: absolute;
                z-index: -1;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: translateY(75%);
                opacity: 0;
                pointer-events: none;
                border-bottom: 1px solid #ff2a70;
                transition: transform 0.5s ease, opacity 0.5s ease;

                li {
                    padding: 5px 20px;
                }
            }

            &:checked + ul {
                opacity: 1;
                transform: translateY(100%);
                pointer-events: all;
            }
        }
    }
}