@import "base";
@import "nav";
@import "constrictor";
@import "section-header";


main {
    .constrictor {
        padding: 60px 40px 80px 40px;
    }
    
    .book-title {
        text-transform: uppercase;
        font-size: 2rem;
    }

    .table-picker {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 75px 0;
        margin-bottom: 75px;

        .table-wrapper {
            width: 100%;
            position: relative;

            img {
                width: 100%;
                vertical-align: bottom;
            }

            .table-number {
                position: absolute;
                top: 50%;
                left: 50%;
                color: white;
                transform: translate(-50%, -50%);
            }
        }

    }

    .title-area {
        width: 100%;
        text-align: center;
        padding: 75px 20px;
        position: relative;
        box-sizing: border-box;
        background-color: #030303;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("/assets/img/footerbg.jpg");
            opacity: 0.1;
        }
    }

    .side-by-side {
        display: flex;
        padding-top: 40px;
    
        & > * {
            box-sizing: border-box;
            width: 100%;
        }

        .left-side {
            padding-right: 15px;
        }

        .right-side {
            padding-left: 15px;
        }
    }

    input[type="text"], input[type="date"], textarea {
        width: 100%;
        margin-bottom: 30px;
    }
    
    textarea {
        min-height: 60px;
        resize: vertical;
    }

    .button-wrapper {
        text-align: right;
    }
}