@import "base";
@import "nav";
@import "constrictor";

main {
    .constrictor {
        padding: 40px;
    }

    .title-area {
        width: 100%;
        text-align: center;
        padding: 75px 20px;
        position: relative;
        box-sizing: border-box;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("/assets/img/footerbg.jpg");
            opacity: 0.1;
        }

        h1 {
            position: relative;
            display: inline-block;
            padding: 15px 0;
            text-transform: uppercase;
            font-weight: 400;

            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 0;
                background: linear-gradient(to right, #0000, rgba(#ff2a70, 0.77), #0000);
            }
        }
    }

    .side-by-side {
        display: flex;
        padding-top: 40px;
    
        & > * {
            box-sizing: border-box;
            width: 100%;
        }

        .left-side {
            padding-right: 15px;
        }

        .right-side {
            padding-left: 15px;
        }
    }

    .popup-area {
        background-color: #ff2a70;
        width: 100%;
        padding: 25px;
        position: relative;
        box-sizing: border-box;
        display: flex;

        .popup-segment {
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;

            img {
                flex-shrink: 0;
                margin-right: 20px;
                transform: translateY(5px);
            }
        }

        & > * {
            width: 100%;
            padding-right: 20px;
        }

        &::after {
            content: "";
            width: 25px;
            height: 25px;
            background-color: #ff2a70;
            transform: translateX(-50%) translateY(50%) rotate(45deg);
            position: absolute;
            bottom: 0;
            left: 50%;
        }
    }
    
    input[type="text"], textarea {
        width: 100%;
        margin-bottom: 30px;
    }
    
    textarea {
        min-height: 60px;
        resize: vertical;
    }

    .button-wrapper {
        text-align: right;
    }
}